In [3]:
import pandas as pd

In [7]:
#import sales dataframe
url_sales = 'https://raw.githubusercontent.com/gabriellalio/US-Onshore-Academy/main/sales%20data-set.csv'
sales = pd.read_csv(url_sales)

# #import store dataframe
url_store ='https://raw.githubusercontent.com/gabriellalio/US-Onshore-Academy/main/stores%20data-set.csv'
store = pd.read_csv(url_store)

# #import feature dataframe
url_feature ='https://raw.githubusercontent.com/gabriellalio/US-Onshore-Academy/main/Features%20data%20set.csv'
feature = pd.read_csv(url_feature)

In [ ]:

#turn into temporary tables
#spark.createDataFrame(df_sales).createOrReplaceTempView("sales")
#spark.createDataFrame(df_store).createOrReplaceTempView("stores")
#spark.createDataFrame(df_feature).createOrReplaceTempView("features")

In [8]:
sales

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50      False
1           1     1  12/02/2010      46039.49       True
2           1     1  19/02/2010      41595.55      False
3           1     1  26/02/2010      19403.54      False
4           1     1  05/03/2010      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

[421570 rows x 5 columns]

In [9]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [10]:
# Convert Date to Datetime

sales['Date']= pd.to_datetime(sales['Date'])

In [11]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB

In [14]:
sales['Date'].min()

Timestamp('2010-01-10 00:00:00')

In [15]:
sales['Date'].max()

Timestamp('2012-12-10 00:00:00')

In [17]:
sales['Week_Number'] = sales['Date'].dt.isocalendar().week

In [26]:
sales['year'] = sales['Date'].dt.isocalendar().year

In [27]:
sales.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday  Week_Number  year
0      1     1 2010-05-02      24924.50      False           17  2010
1      1     1 2010-12-02      46039.49       True           48  2010
2      1     1 2010-02-19      41595.55      False            7  2010
3      1     1 2010-02-26      19403.54      False            8  2010
4      1     1 2010-05-03      21827.90      False           18  2010

In [33]:
sales['year_week']=sales['year'].map(str)+sales['Week_Number'].map(str)

In [36]:
# COunr 
len(sales['year_week'].unique())

127

NameError: name 'histplot' is not defined